# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CLion Projects\Final Project CS 3A (Space Fighters)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
